.section{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 50px;
}

.bookTitle{
    font-size: 50px;
    font-weight: bold;
}

.bookPara{
    font-size: 25px;
    margin-top: 10px;
}

.book{
    background-color: #084084;
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-top: 20px;
    width: 300px;
}

@media screen and (max-width: 915px){
    .bookTitle{
        font-size: 40px;
    }

    .bookPara{
        display: none;
    }
}

@media screen and (max-width: 460px){
    .bookTitle{
        font-size: 30px;
    }

    .book{
        width: 200px;
    }
}