.header {
    background: linear-gradient(to left, #bac7ce, #084084);
    display: flex;
    flex-direction: column;
    height: 890px;
}

.button1 {
    border: 1px solid white;
    background-color: transparent;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.heading1 {
    padding-top: 30px;
    font-size: 70px;
    font-weight: bolder;
    margin-left: 100px;
    width: 820px;
    height: 222px;
    color: white;
}

.heading1 span {
    color: #96D0FB;
}

.subheading {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 100px;
    margin-top: -20px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.left {
    flex: 1
}

.button2 {
    padding: 15px;
    border-radius: 15px;
    border: none;
    width: 250px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    color: #0093FF;
}

.button3 {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    margin-left: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -250px;
    margin-right: 20px;
}

.picture {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 500px;
}

.headerImage {
    width: 100%;
    height: 615px;
    object-fit: contain;
    position: relative;
    z-index: 4;
}

.circle1 {
    width: 300px;
    height: 532px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -30px;
    margin-left: 320px;
    z-index: 2;
}

.circle2 {
    width: 500px;
    height: 412px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 91px;
    margin-left: 70px;
    z-index: 1;
}

.button4 {
    margin-top: 90px;
    margin-left: 100px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: none;
    width: 390px;
    padding: 8px;
}

.img2 {
    margin-left: 15px;
}

.text4 {
    margin-right: 18px;
    font-size: 14px;
}

.subtext1 {
    color: #419FE4;
    font-weight: 800;
}

.subtext2 {
    font-weight: 800;
}

@media screen and (max-width: 1054px) {
    .picture {
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

    .headerImage{
        width: 730px;
        height: 600px;
    }

    .circle1 {
        width: 300px;
        height: 470px;
        margin-top: 67px;
        margin-left: 436px;
    }
    
    .circle2 {
        width: 485px;
        height: 437px;
        margin-top: 100px;
        margin-left: 250px;
    }

    .subheading{
        margin-top: 10px;
    }
}

@media screen and (max-width: 1050px){
    .circle1{
        display: none;
    }

    .circle2{
        display: none;
    }
}

@media screen and (max-width: 1040px){
    .headerImage{
        width: 600px;
        height: 680px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 980px){
    .header{
        height: 855px;
    }

    .headerImage{
        width: 500px;
    }
}

@media screen and (max-width: 920px){
    .heading1{
        font-size: 60px;
        width: 800px;
    }

    .header{
        height: 833px;
    }
}

@media screen and (max-width: 900px){
    .heading1{
        width: 700px;
    }
}

@media screen and (max-width: 810px){
    .heading1{
        width: 600px;
    }

    .header{
        height: 902px;
    }
}

@media screen and (max-width: 775px){
    .subheading{
        font-size: 16px;
    }

    .headerImage{
        width: 480px;
    }

    .header{
        height: 902px;
    }

    .button{
        width: 300px;
    }
}

@media screen and (max-width: 738px) {
    .heading1 {
        font-size: 20px;
    }

    .headerImage{
        width: 450px;
    }

    .header{
        height: 709px;
    }
}

@media screen and (max-width: 698px){
    .subheading{
        font-size: 12px;
    }

    .headerImage{
        width: 400px;
    }

    .heading1{
        width: 500px;
    }

    .header{
        height: 690px;
    }
}

@media screen and (max-width: 665px){
    .button2 {
        padding: 10px;
        width: 200px;
        font-size: 12px;
    }
    
    .button3 {
        width: 200px;
        padding: 10px;
        font-size: 12px;
    }

    .header{
        height: 675px;
    }
}

@media screen and (max-width: 642px){
    .headerImage{
        width: 350px;
        margin-left: 160px;
    }

    .header{
        height: 658px;
    }
}

@media screen and (max-width: 600px){
    .button{
        width: 200px;
    }

    .heading1{
        width: 400px;
    }

    .img2 {
        display: none;
    }

    .text4{
        font-size: 12px;
    }

    .headerImage{
        margin-top: -30px;
    }

    .header{
        height: 643px;
    }
}

@media screen and (max-width: 595px){
    .headerImage{
        width: 320px;
    }

    .header{
        height: 632px;
    }
}

@media screen and (max-width: 565px){
    .button3{
        display: none;
    }

    .subheading{
        width: 300px;
    }

    .header{
        height: 645px;
    }
}

@media screen and (max-width: 540px){
    .header{
        height: 640px;
    }

    .headerImage{
        width: 300px;
    }
}

@media screen and (max-width: 498px){
    .subheading{
        font-size: 10px;
    }

    .heading1{
        width: 250px;
    }

    .headerImage{
        width: 290px;
    }

    .header{
        height: 632px;
    }
}

@media screen and (max-width: 478px){
    .headerImage{
        width: 350px;
        margin-top: 40px;
        margin-left: 10px;
    }

    .header{
        height: 582px;
    }

    .button4{
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .header{
        height: 501px;
    }

    .button1 {
        margin-top: 40px;
        width: 200px;
        margin-left: 50px;
    }

    .heading1 {
        font-size: 18px;
        margin-left: 50px;
        width: 300px;
    }

    .button2 {
        padding: 10px;
        width: 180px;
        margin-left: 50px;
        font-size: 10px;
    }

    .picture{
        max-width: 250px;
        margin: -10px auto 0;
    }

    .headerImage{
        margin-left: -50px;
    }

    .subheading {
        font-size: 8px;
        width: 200px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 450px){
    .headerImage{
        width: 300px;
        margin-left: -30px;
    }

    .header{
        height: 485px;
    }
}